blockquote {
	text-align: right
}

table {
	width: 100%;
}

/*td {
	text-align: center;
}*/

.hidden {
	display: none;
}

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800&display=swap);
:root {
  --blue: #008aff;
  --indigo: #6e00ff;
  --purple: #510FA8;
  --pink: #f074ad;
  --red: #f25767;
  --orange: #FFBE3D;
  --yellow: #ffc431;
  --green: #5cc9a7;
  --teal: #50b5ff;
  --cyan: #4bd6e5;
  --white: #FFF;
  --gray: #718096;
  --gray-dark: #2D3748;
  --primary: #008aff;
  --secondary: #eaecf3;
  --success: #5cc9a7;
  --info: #50b5ff;
  --warning: #FFBE3D;
  --danger: #f25767;
  --light: #eaecf3;
  --dark: #171347;
  --neutral: #FFF;
  --white: #FFF;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
	
  box-sizing: border-box; }

html {
	
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(31, 45, 61, 0); }

body {
  margin: 10;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: #718096;
  text-align: left;
  background-color: #FFF; }

  table {
	color: #2c4973;
  }

h1, h2, h3, h4, h5, h6 {	
  text-align: center }

a {
  color: #008aff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0061b3;
    text-decoration: none; }

label {
color: #718096;
  display: inline-block;
  margin-bottom: 0.5rem; }

h1, .h1 {
  color: #008aff;
  font-size: 2.5rem; }
  @media (max-width: 1200px) {
    h1, .h1 {
      font-size: calc(1.375rem + 1.5vw) ; } }

h2, .h2 {
  font-size: 2rem; }
  @media (max-width: 1200px) {
    h2, .h2 {
      font-size: calc(1.325rem + 0.9vw) ; } }

h3, .h3 {
  font-size: 1.75rem; }
  @media (max-width: 1200px) {
    h3, .h3 {
      font-size: calc(1.3rem + 0.6vw) ; } }

h4, .h4 {
  font-size: 1.5rem; }
  @media (max-width: 1200px) {
    h4, .h4 {
      font-size: calc(1.275rem + 0.3vw) ; } }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }
